flask
flask_marshmallow
flask_restful
flask_sqlalchemy
requests
python-json-logger
mysqlclient
tldextract
geopy
gevent
gunicorn
Flask-Log-Request-ID
marshmallow-sqlalchemy
redis
redis-py-cluster
flask_cors
boto3
